.BaseChat {
  &[data-chat-visible='false'] {
    --workbench-inner-width: 100%;
    --workbench-left: 0;

    .Chat {
      --at-apply: bolt-ease-cubic-bezier;
      transition-property: transform, opacity;
      transition-duration: 0.3s;
      will-change: transform, opacity;
      transform: translateX(calc(-100% - 1.5rem));
      opacity: 0;
      pointer-events: none;
    }
  }
}

.Chat {
  opacity: 1;
}
